# E Neural Networks XOR
_5 points_
We described a neural network that represents an XOR gate in class. 

- Write down a function, that consists of all modular parts of that network. Use the functions of AND, OR and NOT and stitch it together. 
- Use explicit weights, for example the ones we used in class.

**Truth-Tables for Logical Operators:

In [1]:
import pandas as pd
and_df = pd.read_csv("./AND.csv")
and_df.head(4)

   X1   X2  Y
0   0    0  0
1   1    0  0
2   0    1  0
3   1    1  1

In [2]:
or_df = pd.read_csv("./OR.csv")
or_df.head(4)

   X1  X2  Y
0   0   0  0
1   1   0  1
2   0   1  1
3   1   1  1

_these two truth-tables now have to be combined in such a way that the result reflects the following truth-table of the
xor-function_ :

In [3]:
xor_df = pd.read_csv("./XOR.csv")
xor_df.head(4)

   X1   X2   Y
0   0    0   0
1   1    0   1
2   0    1   1
3   1    1   0

**The result: **  
xor(x) = (OR) AND (NOT [AND])  
where OR can be written as or(x) = theta_1* x1 + theta_2 * x2 + b1  
where AND can be written as and(x) = theta_1 * x1 + theta_2 * x2 + b2  
_possible theta-values for AND (one example): _  
theta_1 = 0,5; theta_2 = 0,5; b = -0,6  
_possible theta-values for OR (one example): _  
theta_1 = 0,5; theta_2 = 0,5; b = -0,1  

**the result hence in a more formal way: **  
xor(x) = theta_1 * (theta_1 * x1+theta_2 * x2 + b1) + theta_2 * (- [theta_1 * x1+theta2 * x2 + b2] )